body {
  margin: 0 30px;
}

h1 {
  font-family: "Playfair Display", serif;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
}

.hero {
  background-color: #aeb1ac;
  padding: 80px;
}
