:root {
  --primary-color: #aeb1ac;
  --secodary-color: #2d2d2d;
  --tertiary-color: F7F202;
}

body {
  margin: 0 30px;
}

h1 {
  font-family: "Playfair Display", serif;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
}

p {
  color: #524f4a;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 100;
}

a {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  padding: 16px 42px;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
}

.hero {
  background-color: #aeb1ac;
  padding: 80px;
}
